project-1/.terraform
project-1/.terraform.lock.hcl
project-1/terraform.tfstate
project-1/terraform.tfstate.backup
ssh-add.sh
project-1/main.tfplan
project-1/.terraform.tfstate.lock.info
project-1/main.destroy.tfplan
